@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --theme-bgcolor: #0171F9;
    --font-family: "Roboto", sans-serif;
    --bg-banner-img: url(../images/banner-bg.jpg);
    --hover-color: #1B7FFA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.banner {
    border: 2px solid;
    height: 100vh;
    background: var(--bg-banner-img) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 150px 150px;
}

header {
    
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
}

.logo {
  
    width: 180px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {

    align-self: center;
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
   
}

nav ul li a:hover {
    
    background: var(--hover-color);
    border: 2px solid var(--hover-color);
}

nav ul li a {
    border-radius: 30px;
     padding: 8px 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a.sign-btn{
    background: #ee626b;
}

.inside-banner{
    width: 90%;
    height: 500px;
    margin: 7% auto;
    border: 2px solid;
    display: flex;

}

.inside-banner .box1{
    flex:1 1 50%;
    border: 2px solid green;
}
.inside-banner .box2{
    flex:1 1 50%;
    border: 2px solid green;
}