*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    position: relative;
    background: linear-gradient(45deg,blue,white);
}
.logo{
   
    width: 70px;
    height: 70px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
     
    position: absolute;
    right: 0;
    top: 0;
}

nav ul li{
    display: inline-block;
    margin: 3% 50px;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.banner{
     
    height: 80vh;
    position: relative;
}

.banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner h1{
    /* border: 2px solid; */
    width: 900px;
    position: absolute;
    font-size: 5rem;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
    background-color: darkcyan;
    color: white;
}