*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg,teal,#c0d3ff);
}

.logo{
    
    width: 80px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

nav{
   
    display: flex;
    justify-content: end;
    width: 30%;
    align-self: center;
}

nav ul{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: blue;
}

.shop-con{
    border: 2px solid;
    display: flex;
    gap: 30px;
    padding: 50px;
}

.shop-con .box{
    border: 2px solid red;
    width: 350px;
    height: 400px;
}