*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 5px solid red;
    display: flex;
    height: 100vh;
    /* flex-wrap: wrap; */
    /* align-content: center;
    align-content: end;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly; */

    /* flex-direction: row; */
    /* flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /* justify-content: center;
    align-items: center; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /* gap: 30px; */
}

.box{
    border: 2px solid;
    width: 200px;
    height: 200px;
    background: teal;
    color: white;
    font-size: 20px;
    /* margin-left: 30px; */
}

.box1{
    align-self: center;
}

.box3{
    align-self: flex-end;
}

.box5{
    align-self: self-end;
}