* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid;
    width: 200px;
    height: 200px;
    background-color: saddlebrown;
    /* transition-duration: 1000ms; */
    /* transition-duration: 2s;
    transition-delay: 0.8s;
    transition-timing-function: ease;  */
    /* ease , ease-in,ease-out, ease-in-out , linear , cubic-baziear() */

    /* transition-property: width , height; */

    /* transition: all 1s ease-in-out; */
    /* transition: width 1s 2s ease , height 0.2s 2s linear; */

    /* 
       1-property
       2 - duration
       3 - delay
       4 - timing function
    
    */
    transition: width 1s 0.5s linear;

}

.box:hover {
    background-color: rebeccapurple;
    width: 300px;
    height: 300px;

}