*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* cursor: url(../image/icons8-cursor-25.png), auto;  */
}
.box{
    border: 2px solid red;
    width: 100px;
    height: 100px;
}

.box1{
    cursor: url(../image/icons8-cursor-25.png),auto;
}

.box2{
    cursor: e-resize;
}
.box3{
    cursor: help;
}

.box4{
    cursor: move;
}
.box5{
    cursor: pointer;
}
.box6{
    cursor: n-resize;
    cursor: ne-resize;
    cursor: s-resize;
    cursor: se-resize;
    cursor: sw-resize;
    cursor: all-scroll;
}

.box7{
    cursor: progress;
}

.box8{
    cursor: text;
    cursor: wait;
}